@model IEnumerable<BourbonWeb.Models.FunctionItem>
@{
    ViewData["Title"] = "機能一覧";
}

<table class="table table-bordered table-striped table-sm">
    <thead class="table-light text-center">
        <tr>
            <th>No</th>
            <th>機能ID</th>
            <th>大分類</th>
            <th>中分類</th>
            <th>機能名</th>
            <th>区分</th>
            <th>照会</th>
            <th>検索</th>
            <th>登録</th>
            <th>更新</th>
            <th>削除</th>
            <th>帳票</th>
            <th>IN</th>
            <th>OUT</th>
            <th>備考</th>
            <th>旧ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.No</td>
                <td>@item.KinouId</td>
                <td>@item.DaiBunrui</td>
                <td>@item.ChuuBunrui</td>
                <td>@item.KinouNm</td>
                <td>@item.Kubun</td>
                <td class="text-center">@item.Shokai</td>
                <td class="text-center">@item.Kensaku</td>
                <td class="text-center">@item.Touroku</td>
                <td class="text-center">@item.Koushin</td>
                <td class="text-center">@item.Sakujo</td>
                <td class="text-center">@item.Chouhyou</td>
                <td class="text-center">@item.In</td>
                <td class="text-center">@item.Out</td>
                <td>@item.Bikou</td>
                <td>@item.KyuuId</td>
            </tr>
        }
    </tbody>
</table>
